{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Configure Freshdesk API Credentials</h1>
    </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    {{ log fdInfo }}
    <section class="aui-page-panel-item">
      <form action="#" method="post" id="fd-info" class="aui">
        <fieldset>
          <div class="field-group">
            <label for="fdUrl">Freshdesk URL</label>
            <input class="text long-field" type="text" id="fdUrl" name="fdUrl" title="freshdesk url" value="{{ fdInfo.fdUrl }}">
          </div>
          <div class="field-group">
            <label for="fdKey">API Key</label>
            <input class="text medium-field" type="text" id="fdKey" name="fdKey" title="freshdesk key" value="{{ fdInfo.fdKey }}">
          </div>
          <div class="field-group">
            <button class="aui-button aui-button-primary" id="button-spin-2">Save</button>
          </div>
        </fieldset>
      </form>
    </section>
  </div>
</div>