{{!< layout}}
{{ log settings }}
<form action="#" method="post" id="d1" class="aui" _lpchecked="1">
  <fieldset>
    <div class="field-group">
      <label for="fdTitle">Title</label>
      <input class="text" type="text" id="fdTitle" name="fdTitle" title="title" value="{{ settings.baseUrl }}">
    </div>
    <div class="field-group">
      <label for="fdDesc">Description</label>
      <input class="text" type="text" id="fdDesc" name="fdDesc" title="description">
    </div>
    <div class="field-group">
      <label for="fdReporter">Reporter</label>
      <input class="text" type="text" id="fdReporter" name="fdReporter" title="reporter">
    </div>
    <div class="field-group">
      <label for="fdEmail">Email</label>
      <input class="text" type="text" id="fdEmail" name="fdEmail" title="email">
    </div>
  </fieldset>

</form>