{{!< layout}}
<article class="aui-flatpack-example">
    <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
            <ul class="aui-nav">
              {{#each issues}}
                <li><a href="https://bryandevelassist.freshdesk.com/a/tickets/{{this.id}}" target="_blank">{{this.subject}}</a></li> 
              {{/each}}
            </ul>
        </div>
    </nav>
</article>